LDFLAGS=-L/opt/homebrew/opt/libpq/lib
CPPFLAGS=-I/opt/homebrew/opt/libpq/include
LD_LIBRARY_PATH=/opt/homebrew/opt/libpq/lib:$LD_LIBRARY_PATH

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/patient_database?sslmode=disable
QUEUE_URL=amqp://admin:secret@localhost:5672/%2f